@font-face {
    font-family: "Haas Grot Text R Web";
    src: url(fonts/neue-haas-grotesk/NeueHaasGrotTextRound-55Roman.woff2) format("woff");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: "Haas Grot Text R Web";
    src: url(fonts/neue-haas-grotesk/NeueHaasGrotTextRound-65Medium.woff2) format("woff");
    font-weight: 500;
    font-style: normal
}
@font-face {
    font-family: "Haas Grot Text R Web";
    src: url(fonts/neue-haas-grotesk/NeueHaasGrotTextRound-75Bold.woff2) format("woff");
    font-weight: 700;
    font-style: normal
}

body,section,article,header,main,div,p,h1,h2,h3,a,ul,li,nav,input {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Haas Grot Text R Web";
    outline: none;
    font-weight: normal;
}
body {
    background: #F4F4F4;
}

/*--------------- Main Header --------------*/
.mainHeader__topNavCont {
    width: 100%;
    height: 56px;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
}
.mainHeader__nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    height: 100%;
}
.mainHeader__nav__list {
    display: flex;
    height: 100%;
    align-items: center;
}
.mainHeader__list {
    display: flex;
    height: 100%;
    align-items: center;
}
.mainHeader__nav__list__item__link, .signUpBtn, .signInBtn {
    color: #999;
    font-size: 14px;
    padding: 0 10px;
    display: block;
    /* display: flex; */
    height: 100%;
    line-height: 56px;
}
.mainHeader__nav__list__item:hover .mainHeader__nav__list__item__link, .signUpBtn:hover, .signInBtn:hover {
    color: #ddd;
}
.mainHeader__nav__list__item:hover .subList {
    display: block;
}
.mainHeader__nav__list__item__link::first-letter, 
.subList__item__link::first-letter {
    text-transform: uppercase;
}
.logo {
    margin-right: 20px;
    display: inline-block;
}
.logo:hover {
    opacity: 0.6;
}
.mainHeader__nav__list__item {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.subList {
    position: absolute;
    background: #333333;
    top: 56px;
    left: -5px;
    padding-bottom: 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    display: none;
}
.subList__item {
    /* padding-left: 10px; */
    min-width: 180px;
}
.subList__item__link {
    padding: 5px 15px !important;
    font-size: 13px;
    color: #999;
    font-size: 13px;
    padding: 0px 10px;
    display: block;
}
.subList__item--divider {
    border-top: 1px solid rgba(255,255,255,0.15);
    padding-top: 4px;
    margin-top: 4px;
}
.subList__item__link:hover {
    /* color: #ddd; */
    background-color: rgba(255,255,255,0.1);
}
.subList--wider {
    width: 220px;
}
.mainHeader__nav__list__item__link--dots {
    line-height: 31px;
    font-size: 40px;
    margin-left: -2px;
}
.mainHeader__list__item__input {
    width: 220px;
    padding: 5px 5px 5px 25px;
    font-family: "Haas Grot Text R Web";
    font-size: 13px;
    /* font-weight: normal; */
    /* vertical-align: middle; */
    /* color: #bbb; */
    border: none;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 7px 50%;
    background-image: url(../images/search.png);
    border-radius: 4px;
    margin-left: 10px;
}

.mainHeader__infoBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    height: 140px;
    width: 100%;
    background-color: #252525;
    align-content: space-between;
    padding: 30px;
}
.mainHeader__infoBanner__heading {
    color: #bbb;
    font-size: 18px;
    width: 100%;
    font-family: "Haas Grot Text R Web";
}
.mainHeader__infoBanner__heading strong {
    color: #fff;
}
.actionBtn {
    padding: 10px 30px;
    background-color: #ea4c89;
    color: #fff;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: .02em;
    vertical-align: middle;
    cursor: pointer;
    /* font-family: "Haas Grot Text R Web"; */
}
.actionBtn:hover {
    background-color: #df3e7b;
}
.mainHeader__topNavCont--learnMore {
    align-items: center;
    justify-content: center;
    color: #bbb;
    text-align: center;
    font-size: 15px;
    padding: 20px 30px;
    /* margin-left: 5px; */
}
.mainHeader__topNavCont--learnMore__link {
    text-decoration: underline;
    margin-left: 5px;
    color: #fff;
}
.mainHeader__topNavCont--filter {
    background-color: #FBFBFB;
    height: 50px;
    justify-content: center;
    position: relative;
}

.mainHeader__topNavCont--filter .mainHeader__nav__list {

}
.mainHeader__topNavCont--filter .mainHeader__nav__list__item__link {
    padding-right: 15px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-image: url(../images/down_arrow.png);
    /* background: red; */
    /* display: flex; */
    /* align-items: center; */
    line-height: 50px;
    font-weight: 500;
    color: #444;
}

.mainHeader__topNavCont--filter .mainHeader__nav__list__item__link:hover {
    color: #444;
}
.mainHeader__topNavCont--filter .subList {
    top: 50px;
    background-color: #fbfbfb;
}
.mainHeader__topNavCont--filter .mainHeader__nav__list__item:hover a {
    color: #444;
}

.mainHeader__topNavCont--filter .subList__item__link {
    color: #999 !important; 
 }
.mainHeader__topNavCont--filter .subList__item__link:hover {
    color: #444 !important;
    background-color: #eee;
}
.filter__optionsBtn {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/options.png);
    display: inline-block;
    margin-right: auto;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    right: 30px;
    cursor: pointer;
}

