@font-face {
    font-family: "Haas Grot Text R Web";
    src: url(fonts/neue-haas-grotesk/NeueHaasGrotTextRound-55Roman.woff2) format("woff");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: "Haas Grot Text R Web";
    src: url(fonts/neue-haas-grotesk/NeueHaasGrotTextRound-65Medium.woff2) format("woff");
    font-weight: 500;
    font-style: normal
}
@font-face {
    font-family: "Haas Grot Text R Web";
    src: url(fonts/neue-haas-grotesk/NeueHaasGrotTextRound-75Bold.woff2) format("woff");
    font-weight: 700;
    font-style: normal
}

body,section,article,header,main,div,p,h1,h2,h3,a,ul,li,nav,input {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Haas Grot Text R Web";
    outline: none;
    font-weight: normal;
    /* display: flex; */
}
body {
    background: #F4F4F4;
}

/*--------------- Main Header --------------*/
.mainHeader__topNavCont {
    width: 100%;
    height: 56px;
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
}
.mainHeader__nav {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    height: 100%;
}
.mainHeader__nav__list {
    display: flex;
    height: 100%;
    align-items: center;
}
.mainHeader__list {
    display: flex;
    height: 100%;
    align-items: center;
}
.active {
    color: #fff !important;
}
.mainHeader__nav__list__item__link, .signUpBtn, .signInBtn {
    color: #999;
    font-size: 14px;
    padding: 0 10px;
    display: block;
    /* display: flex; */
    height: 100%;
    line-height: 56px;
}
.mainHeader__nav__list__item:hover .mainHeader__nav__list__item__link, .signUpBtn:hover, .signInBtn:hover {
    color: #ddd;
}
.mainHeader__nav__list__item:hover .subList {
    display: block;
    z-index: 1;
}
.mainHeader__nav__list__item__link::first-letter, 
.subList__item__link::first-letter {
    text-transform: uppercase;
}
.logo {
    margin-right: 20px;
    display: inline-block;
}
.logo:hover {
    opacity: 0.6;
}
.mainHeader__nav__list__item {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.subList {
    position: absolute;
    background: #333333;
    top: 56px;
    left: -5px;
    padding-bottom: 10px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    display: none;
}
.subList__item {
    /* padding-left: 10px; */
    min-width: 180px;
}
.subList__item__link {
    padding: 5px 15px !important;
    font-size: 13px;
    color: #999;
    font-size: 13px;
    padding: 0px 10px;
    display: block;
}
.subList__item--divider {
    border-top: 1px solid rgba(255,255,255,0.15);
    padding-top: 4px;
    margin-top: 4px;
}
.subList__item__link:hover {
    /* color: #ddd; */
    background-color: rgba(255,255,255,0.1);
}
.subList--wider {
    width: 220px;
}
.mainHeader__nav__list__item__link--dots {
    line-height: 31px;
    font-size: 40px;
    margin-left: -2px;
}
.mainHeader__list__item__input {
    width: 220px;
    padding: 5px 5px 5px 25px;
    font-family: "Haas Grot Text R Web";
    font-size: 13px;
    /* font-weight: normal; */
    /* vertical-align: middle; */
    /* color: #bbb; */
    border: none;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 7px 50%;
    background-image: url(../images/search.png);
    border-radius: 4px;
    margin-left: 10px;
}

.mainHeader__infoBanner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    height: 140px;
    width: 100%;
    background-color: #252525;
    align-content: space-between;
    padding: 30px;
}
.mainHeader__infoBanner__heading {
    color: #bbb;
    font-size: 18px;
    width: 100%;
    font-family: "Haas Grot Text R Web";
}
.mainHeader__infoBanner__heading strong {
    color: #fff;
}
.actionBtn {
    padding: 10px 30px;
    background-color: #ea4c89;
    color: #fff;
    border-radius: 4px;
    font-size: 13px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: .02em;
    vertical-align: middle;
    cursor: pointer;
    /* font-family: "Haas Grot Text R Web"; */
}
.actionBtn:hover {
    background-color: #df3e7b;
}
.mainHeader__topNavCont--learnMore {
    align-items: center;
    justify-content: center;
    color: #bbb;
    text-align: center;
    font-size: 15px;
    padding: 20px 30px;
    /* margin-left: 5px; */
}
.mainHeader__topNavCont--learnMore__link {
    text-decoration: underline;
    margin-left: 5px;
    color: #fff;
}
.mainHeader__topNavCont--filter {
    background-color: #FBFBFB;
    height: 50px;
    justify-content: center;
    position: relative;
}

.mainHeader__topNavCont--filter .mainHeader__nav__list {

}
.mainHeader__topNavCont--filter .mainHeader__nav__list__item__link {
    padding-right: 15px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    background-image: url(../images/down_arrow.png);
    /* background: red; */
    /* display: flex; */
    /* align-items: center; */
    line-height: 50px;
    font-weight: 500;
    color: #444;
}

.mainHeader__topNavCont--filter .mainHeader__nav__list__item__link:hover {
    color: #444;
}
.mainHeader__topNavCont--filter .subList {
    top: 50px;
    background-color: #fbfbfb;
}
.mainHeader__topNavCont--filter .mainHeader__nav__list__item:hover a {
    color: #444;
}

.mainHeader__topNavCont--filter .subList__item__link {
    color: #999 !important; 
 }
.mainHeader__topNavCont--filter .subList__item__link:hover {
    color: #444 !important;
    background-color: #eee;
}
.filter__optionsBtn {
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url(../images/options.png);
    display: inline-block;
    margin-right: auto;
    height: 16px;
    width: 16px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    margin: auto;
    right: 30px;
    cursor: pointer;
}

/*----------------- Main Content ------------------*/
.container {
    max-width: 2000px;
    margin: auto;
    /* min-width: 300px; */
}
.mainContent .container {
    padding: 30px;
    padding-bottom: 40px;
    display: flex;
    /* justify-content: center; */
    /* background: green; */
    flex-direction: column;
}
.mainContent__list {
    display: flex;
    flex-wrap: wrap;
    /* background: red; */
    /* margin: auto; */
    justify-content: space-between;
}
.mainContent__list__item {
    position: relative;
    background: #fff;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    width: 220px;
    height: 190px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 15px 60px 15px;
    /* background: red; */
}
.mainContent__list__item__dribbleBox__img {
    padding-top: 10px;
    /* overflow: hidden; */
    position: relative;
    /* width: 100%; */
    /* height: 93%; */
}
.mainContent__list__item__dribbleBox__img__info {
    position: absolute;
    background: #F6F7FA;
    top: 10px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: none;
    padding: 10px;
}
.mainContent__list__item__dribbleBox__img:hover .mainContent__list__item__dribbleBox__img__info {
    display: block;
}
.attachments,.views,.comments,.hearts, .replay {
    margin-left: 12px;
    /* display: inline; */
    font-size: 11px;
    /* line-height: 1; */
    color: #aaa;
}
.attachments, .replay {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url('../images/attachment.png') no-repeat center center;
    background-size: 16px;
    margin-right: auto;
    margin-left: 0px;
}
.replay {
    background: url('../images/replay.png') no-repeat center center;
    border-radius: 50%;
    background-size: 16px;
}
.views {
    margin-left: 0;
    border-left: none;
    padding-left: 18px;
    background-repeat: no-repeat;
    background-position: 0 1px;
    background-image: url(../images/views.png);
    /* font-size: 11px; */
}
.comments {padding-left: 15px;background-repeat: no-repeat;background-position: 0 1px;background-image: url(../images/comments.png);}
.hearts {
    padding-left: 15px;
    background-repeat: no-repeat;
    background-position: 0 1px;
    background-image: url(../images/hearts.png);
}
.mainContent__list__item__dribbleBox__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: 4px;
}
.mainContent__list__item {
    cursor: pointer;
    /* margin-bottom: 40px; */
}
.mainContent__list__item__title {font-size: 13px;font-weight: 500;display: flex;align-items: center;position: relative;top: 25px;/* background: rebeccapurple; */width: 100%;padding-left: 10px;}
.mainContent__list__item__title img {width: 16px;height: 16px;margin: 1px 5px 0 0;border-radius: 50%;}
.mainContent__list__item__title a:first-of-type {
    color: #3a8bbb;
    text-decoration: none;
    font-weight: 500;
}
.mainContent__list__item__title a:first-of-type:hover ~ a {
    opacity: 1;
}
.mainContent__list__item__title a:last-of-type {
    margin-left: 1px;
    font-size: 10px;
    /* line-height: 16px; */
    opacity: 0;
    -webkit-transition: opacity ease .2s;
    transition: opacity ease .2s;
    padding: 2px 3px;
    /* font-size: 10px; */
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    background: #ccc;
    border-radius: 3px;
    margin-top: 2px;
    margin-left: 5px;
}
.mainContent__list__item__title a:last-of-type:hover {
    background-color: #00B6F4;
    opacity: 1;
}
.mainContent__list__item__dribbleBox__img__info strong {
    display: block;
    margin: 0 25px 4px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    color: #444;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.comment {
    display: block;
    margin: 0 0 10px 0;
    font-size: 11px;
    line-height: 1.4;
    color: #777;
    overflow: hidden;
    text-overflow: ellipsis;
}
.timestamp {
    display: block;
    position: absolute;
    bottom: 10px;
    /* left: 20px; */
    margin: 0 0 3px 0;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    color: #777;
}
.registerBtn, .signInBtnBottom {
    display: block;
    margin: 0 auto;
    padding: 15px 12px;
    font-size: 14px;
    text-align: center;
}
.registerBtn {
    background: #ea4c89;
    color: #fff;
    width: 400px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: .02em;
    border-radius: 4px;
}
.registerBtn:hover {
    background: #DF3E7B;
}
.signInBtnBottom {
    color: #3a8bbb;
    width: 95%;
}
.signInBtnBottom:hover {
    color: #1e6189;
}


/*-------------------- Main Footer ------------------*/
.mainFooter {
    background-color: #FFFFFF;
    padding: 30px;
    padding-bottom: 50px;
    color: #999;
    display: flex;
    justify-content: space-between;
}
.mainFooter__list {
    /* max-width: 300px; */
}
.mainFooter__list__item {/* margin: 0 50px 0px 0; */line-height: 1.6;font-size: 13px;}
.logo_bottom img {
    width: 80px;
}
.logo_bottom img:hover {
    opacity: 0.8;
}
.mainFooter__list__item h3, .mainFooter__list__item h3 a {
    font-size: 15px;
    line-height: 1.6;
    font-weight: 500;
    margin: 0 10px 10px 0;
}
.mainFooter__list__item p {
    margin: 0 50px 10px 0;
    line-height: 1.6;
    margin: 0 auto;
    /* padding: 30px 30px 20px 30px; */
    font-size: 13px;
    padding-bottom: 20px;
    width: 300px;
    text-align: left;
}
.mainFooter__list__item--icons {
    margin-bottom: 40px;
}
.mainFooter__list__item--icons img {
    margin: 0 10px 0 0;
    width: 24px;
    opacity: .37;
}
.mainFooter__list__item--icons img:hover {
    opacity: 1;
}
.mainFooter__list__item a {
    font-size: 13px;
    line-height: 1.8;
    color: #999;
}
.mainFooter__list__item a:hover {
    color: #444;
}
.mainFooter__list__item--madeWith {
    white-space: nowrap;
    margin-top: 15px;
    position: absolute;
}
.rabbit_link {
    /* border: 1px solid; */
    display: flex;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    align-items: center;
}
.rabbit_link:hover span {
    opacity: 0.8;
}
.rabbit_link img {
    width: 30px;
    height: 30px;
    border-radius: 50%;/* float: left; */
    margin-right: 10px;
}
.rabbit_link span {
    /* width: 100%; */
    display: block;
    line-height: 18px;
}

.rabbit_link span:first-child {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #3a8bbb;
}
.rabbit_link span:last-child {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.mainFooter__list__item--ads {
    display: flex;
    width: 400px;
}
.mainFooter__list__item--ads > div a {
    display: block;
}
.mainFooter__list__item--ads > div a:last-child {
    display: block;
    margin-top: 4px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .03em;
    font-weight: 500;
    line-height: 1.5;
    color: #bbb;
}
.mainFooter__list__item--ads > div a:last-child:hover {
    color: #999;
}

.mainFooter__list__item--ads > a {
    margin-right: 20px;
}
.adsImg {
    border-radius: 2px;
    -webkit-box-shadow: 0 0 1px #ccc;
    box-shadow: 0 0 1px #ccc;
    max-width: 130px;
}
.mainFooter__list__item--statistic {
    min-height: 56px;
    padding: 0 0 0 54px;
    margin-top: 20px;
    font-size: 1.1em;
    line-height: 1.4;
    font-weight: normal;
    color: #777;
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-image: url('../images/dribble_pink.png');
    font-size: 14px;
}
.view {
    display: block;
    padding-top: 4px;
    font-size: 1.5em;
    line-height: 1.2;
    font-weight: bold;
    color: #333;
}
.mainFooter__list--untitled {
    position: relative;
    left: -15px;
}
.mainFooter__list--rabbit li:not(:first-child) {
    margin: 10px 0px;
}





::selection {
    background: #EA4C89;
    color: #fff;
}